:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}

#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
}

#content .comming_soon{
  text-align: center;
  margin: 10%;
  font-family: onomatoshark;
  color: var(--mainColor);
  font-size: clamp(1em, 3vw, 2000em);
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.content-body {
  display: none; /*temporaire, was flex*/
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.content-title {
  font-family: Arial;
  font-size: 5vh;
  color: var(--secondaryColor);
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 900;
}

.content-text {
  font-family: Arial;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.content-text b {
  font-family: Arial;
  font-size: 3vh;
  color: white;
  font-weight: 900;
}

#blue-button {
  display: block;
  padding: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
  text-align: center;
  background-color: var(--secondaryColor);
  font-family: Arial;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  margin: 1vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vh;
}

#blue-button:hover {
  color: var(--thirdColor);
}

#blue-button:active {
  color: var(--mainColor);
}

@media screen and (max-width: 800px) {


}
