:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}


#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
}

#content .comming_soon{
  text-align: center;
  margin: 10%;
  font-family: onomatoshark;
  color: var(--mainColor);
  font-size: clamp(1em, 3vw, 2000em);
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.content-body {
  display: none; /*temporaire, was flex*/
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.content-title {
  font-family: montserrat;
  font-size: 5vh;
  color: var(--secondaryColor);
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 900;
}

.content-text {
  font-family: montserrat;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.content-text b {
  font-family: montserrat;
  font-size: 3vh;
  color: white;
  font-weight: 900;
}

#blue-button {
  display: block;
  padding: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
  text-align: center;
  background-color: var(--secondaryColor);
  font-family: montserrat;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  margin: 1vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vh;
}

#blue-button:hover {
  color: var(--thirdColor);
}

#blue-button:active {
  color: var(--mainColor);
}

#sommaire{
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.half {
  display: flex;
  width: 40%;
  justify-content: space-between;    
}

#sommaire h2{
  color: white;
  margin: 3% 0 15% 0;
}

#sommaire li{
  margin-bottom: 10%;
}
#sommaire a{
  color: white;
}

ul {
 list-style: none;
}

.body {
  display: flex;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 5vh;
}

.listClub h1{
  font-family: montserrat;
  font-size: 2vh;
  color: white;
  text-align: center;
  margin-bottom: 3vh;
  font-weight: 900;
}

.listClub p{
  font-family: montserrat;
  font-size: 2vh;
  color: white;
  text-align: left;
  margin-left: 5vh;
  margin-right: 5vh;
  font-weight: 500;
}

.listClub img{
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.listAsso h1{
  font-family: montserrat;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-bottom: 3vh;
  font-weight: 900;
}

.listAsso p{
  font-family: montserrat;
  font-size: 2vh;
  color: white;
  text-align: left;
  margin-left: 5vh;
  margin-right: 5vh;
  font-weight: 500;
}

.listAsso img{
  width: 100%;
  height: auto;
}

.column1{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column2{
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px) {

  #sommaire{
    flex-direction: column;
  }

  .half{
    width: 100%;  
  }

  #sommaire .BDS{
    margin-left: 10%;
  }

  #sommaire li{
    margin-bottom: 30%;
  }

  .body {
    display: inherit;
  }

  .listAsso img{
    width: 80%;
    margin-left: 10%;
  }

  .listAsso h1{
     font-size: clamp(2vw, 2em , 10000em);
  }
  
  .listAsso p{
    font-size: clamp(1.5vw, 1.2em, 10000em);
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
  
  .listClub h1{
     font-size: clamp(2vw, 2em , 10000em);
  }
  
  .listClub p{
    font-size: clamp(1.5vw, 1.1em, 10000em);
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
}
