:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}

#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.content-title {
  font-family: Arial;
  font-size: 5vh;
  color: var(--secondaryColor);
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 900;
}

.content-text {
  font-family: Arial;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.content-text b {
  font-family: Arial;
  font-size: 3vh;
  color: white;
  font-weight: 900;
}

#blue-button {
  display: block;
  padding: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
  text-align: center;
  background-color: var(--secondaryColor);
  font-family: Arial;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  margin: 1vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vh;
}

#blue-button:hover {
  color: var(--thirdColor);
}

#blue-button:active {
  color: var(--mainColor);
}

.associations-blob-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3vh;
}

.blob-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.blob {
  background: linear-gradient(45deg, var(--secondaryColor) 0%, white 100%);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 20vh;
  transition: all 1s ease-in-out;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blob:hover {
  background: linear-gradient(45deg, var(--secondaryColor) 25%, white 100%);
}

.blob:active {
  background: linear-gradient(45deg, var(--secondaryColor) 50%, white 100%);
}

.blob p {
  font-family: Arial;
  font-size: 5vh;
  color: white;
  text-align: center;
  font-weight: 900;
}

#BDE-shortcut {
  animation: morph1 10s ease-in-out infinite;
}

#BDA-shortcut {
  animation: morph2 10s ease-in-out infinite;
}

#BDS-shortcut {
  animation: morph3 10s ease-in-out infinite;
}

#BDH-shortcut {
  animation: morph4 10s ease-in-out infinite;
}

@keyframes morph1 {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes morph2 {
  0% {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }

  50% {
    border-radius: 60% 30% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
}

@keyframes morph3 {
  0% {
    border-radius: 64% 60% 37% 70% / 60% 40% 60% 40%;
  }

  50% {
    border-radius: 68% 56% 66% 22% / 86% 31% 89% 40%;
  }

  100% {
    border-radius: 64% 60% 37% 70% / 60% 40% 60% 40%;
  }
}

@keyframes morph4 {
  0% {
    border-radius: 60% 30% 70% 40% / 50% 60% 30% 60%;
  }

  50% {
    border-radius: 64% 60% 37% 70% / 60% 40% 60% 40%;
  }

  100% {
    border-radius: 60% 30% 70% 40% / 50% 60% 30% 60%;
  }
}

.associations-info-popup {
  background: var(--secondaryColor);
  display: none;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.popup-close-button {
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  top: 5vh;
  right: 5vh;
  font-size: 5vh;
  color: white;
  text-align: center;
}

.popup-close-button:hover {
  color: var(--thirdColor);
}

.popup-close-button:active {
  color: var(--mainColor);
}

.associations-info-main {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.associations-info-logo-container {
  width: 30%;
  flex: 1;
  display: flex;
}

.associations-info-logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: auto;
  margin-left: 25%;
}

.associations-info-text {
  padding: 3%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.associations-info-text h2 {
  font-family: Arial;
  font-size: 5vh;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 900;
}

.associations-info-text p {
  font-family: Arial;
  font-size: clamp(1em,2vw,1000em);
  color: white;
  text-align: justify;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

@media screen and (max-width: 800px) {

  .associations-blob-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3vh;
  }

  .blob-container{
    margin-top: 5%;
  }

  .associations-info-main{
    flex-direction: column;
  }

  .associations-info-logo-container{
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
  }
  .associations-info-logo{
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  .associations-info-text p{
    width: 90%;
    margin-left: 5%;
  }

}
