:root {
    --mainColor: #CC3860;
    --secondaryColor: #4FAEE1;
    --thirdColor: #efbc12;
}

#content{
    background-image: linear-gradient(var(--mainColor),var(--secondaryColor));
    width: 100%;
}

.content-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.content-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.content-adresses{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
  width: 70%;
}

.image-header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.image-header{
  width: 100%;
}

.content-title{
  font-family: Arial;
  font-size: 4vh;
  color: white;
  text-align: center;
  margin-top:3vh;
  margin-bottom:3vh;
  font-weight: 900;
}

.content-title em{
  font-weight: 900;
}

.content-subtitle{
  font-family: Arial;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-top:3vh;
  margin-bottom:3vh;
  font-weight: 900;
}

.content-subtitle em{
  font-weight: 900;
}

.left{
  text-align: left;
}

em{
  font-family: Arial;
  color: var(--thirdColor);
  font-style: normal;
}

.e-mail{
  font-size: 1.9vh;
}

p{
  font-family: Arial;
  font-size: 2vh;
  color: white;
  text-align: left;
  margin-top:1vh;
  margin-bottom:1vh;
}

ul{
  list-style: circle;
}

li{
  color: "#a9a9a9";
}
