:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}

#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
}

#content .content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

#content .content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

#content .content-adresses {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
  width: 70%;
}

#content .image-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#content .image-header {
  width: 100%;
}

#content .content-title {
  font-family: Arial;
  font-size: 4vh;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 900;
}

#content .content-title em {
  font-weight: 900;
}

#content .content-subtitle {
  font-family: Arial;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 900;
}

#content .content-subtitle em {
  font-weight: 900;
}

#content .left {
  text-align: left;
}

#content em {
  font-family: Arial;
  color: var(--thirdColor);
  font-style: normal;
}

#content .e-mail {
  font-size: 1.9vh;
}

#content p {
  font-family: Arial;
  font-size: 2vh;
  color: white;
  text-align: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#content ul {
  list-style: circle;
}

#content li {
  color: "#a9a9a9";
}
