:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}

#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
  height: auto;
}

#accueil {
  width: 90%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

#content .imgtype1 {
  width: 100%;
  height: auto;
  text-align: center;
}

#content .titre_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5%;
}

#content h1 {
  color: var(--secondaryColor);
  font-size: clamp(1.5em, 3vw, 10000em);  
  font-weight: bold;
}

#content .texte-integration {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
}

#content p {
  color: white;
  font-size: clamp(1em, 1.2vw, 10000em);  
  text-align: center;
}

#content B {
  color: white;
  font-weight: 600%;
}

#content .video_gauche {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 3%;
}

#content .video_droite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 3%;
}

#content .bloc_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .video_droite .bloc_text h2 {
  text-align: left;
}

#content .video_gauche .bloc_text h2 {
  text-align: right;
}

#content .bloc_video {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#content .video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#content .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content h2 {
  color: var(--thirdColor);
  font-size: clamp(1em, 3vw, 1000em);
  font-weight: max;
  font-family: "onomatoshark";
}
