#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
  height: auto;
}

#accueil {
  width: 90%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.imgtype1 {
  width: 100%;
  height: auto;
  text-align: center;
}

.titre_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

h1 {
  color: #3480eb;
  font-size: 300%;
  font-weight: bolder;
  text-decoration: none;
}

.texte-integration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10%;
  padding: 1%;
}

p {
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  text-align: center;
}

B {
  color: white;
  font-weight: 600%;
}

.video_gauche {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.video_droite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.bloc_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video_droite .bloc_text h2 {
  margin-left: 40%;
  text-align: left;
}

.video_gauche .bloc_text h2 {
  margin-right: 40%;
  text-align: right;
}

.bloc_video {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  color: #faed00;
  font-size: 3vh;
  font-weight: max;
}
