:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor : #EFBC12;
}
/* On importe la police pour le titre */
@font-face {
  font-family: "onomatoshark";
  src: url("../fonts/OnomatoShark.woff2") format("woff2"),
    url("../fonts/OnomatoShark.woff") format("woff"),
    url("../fonts/onomatoshark.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* propriété par défaut */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;

  font-family: "Montserrat", "Arial", serif;
}

/*  L'en tête du site */
#header {
  width: 100%;
  height: 14%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0%;
}


/* Le titre "CAPA 2021" */
.title {
  background-color: white;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.title h1 {
  font-family: "onomatoshark";
  color: var(--mainColor);
  font-size: clamp(40px, 3vw, 1000px);
  margin-top: 1%;
}

.title #logoImage {
  width: 5%;
}

.title .lang {
  display: flex;
  width: 5%;
  font-size: clamp(12px, 1vw, 1000px);
  justify-content: space-around;
  position: absolute;
  left: 7%;
  top: 40%;
}

.title .lang a:hover {
  color: var(--thirdColor);
}

.title .lang a:active {
  color: var(--mainColor);
}

.nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 35%;
  background-color: white;
  justify-content: center;
}

.nav .menu {
  position: absolute;
  bottom: 30%;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.nav li {
  list-style: none;
}

.nav a {
  font-size: clamp(0.7em,1vw, 10000px);
}

.nav a:hover {
  color: var(--thirdColor); 
}

.nav a:active {
  color: var(--mainColor); 
}

.nav .menu i {
  font-size: clamp(1.2em, 1.3vw, 1000px);
}

.nav .menu i:active{
  color: var(--mainColor);
}

.nav .dropSub{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background-image:linear-gradient(var(--secondaryColor), #98E5ED);
  left : 5%;
  z-index: 10;
  visibility: hidden;
  height: 500%;
  width: 22%;
  align-items: center;
  border-radius: 20px;
  border: 3px solid #EFBC12;
}


.nav .dropMenu:hover > .dropSub{
  visibility: visible;
}
.nav .socialIcons {
  display: flex;
  justify-content: space-around;
  width: 7.5%;
  position: absolute;
  bottom: 35%;
  right: 5%;
}

.nav .socialIcons i {
  color: var(--secondaryColor);
  font-size: clamp(1.2em,1.5vw, 10000px);
}

.nav i:hover{
  color: var(--thirdColor);
}

.navBackTop {
  width: 100%;
  height: 14%;
  background-color: var(--mainColor);
}