body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/logo.jpg) url(../img/logo.png);
}
:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}
/* On importe la police pour le titre */
@font-face {
  font-family: "onomatoshark";
  src: url("../fonts/OnomatoShark.woff2") format("woff2"),
    url("../fonts/OnomatoShark.woff") format("woff"),
    url("../fonts/onomatoshark.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* propriété par défaut */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;

  font-family: "Montserrat", "Arial", serif;
}

/*  L'en tête du site */
#header {
  width: 100%;
  height: 14%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0%;
}

/* Le titre "CAPA 2021" */
#header .title {
  background-color: white;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

#header .title h1 {
  font-family: "onomatoshark";
  color: var(--mainColor);
  font-size: clamp(40px, 3vw, 1000px);
  margin-top: 1%;
}

#header .title #logoImage {
  width: 5%;
}

#header .title .lang {
  display: flex;
  width: 5%;
  font-size: clamp(12px, 1vw, 1000px);
  justify-content: space-around;
  position: absolute;
  left: 7%;
  top: 40%;
}

#header .title .lang a:hover {
  color: var(--thirdColor);
}

#header .title .lang a:active {
  color: var(--mainColor);
}

.nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 35%;
  background-color: white;
  justify-content: center;
}

.nav .menu {
  position: absolute;
  bottom: 30%;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.nav li {
  list-style: none;
}

.nav a {
  font-size: clamp(0.7em, 1vw, 10000px);
}

.nav a:hover {
  color: var(--thirdColor);
}

.nav a:active {
  color: var(--mainColor);
}

.nav .menu i {
  font-size: clamp(1.2em, 1.3vw, 1000px);
}

.nav .menu i:active {
  color: var(--mainColor);
}

.nav .dropSub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background-image: linear-gradient(var(--secondaryColor), #98e5ed);
  left: 5%;
  z-index: 10;
  visibility: hidden;
  height: 500%;
  width: 22%;
  align-items: center;
  border-radius: 20px;
  border: 3px solid #efbc12;
}

.nav .dropMenu:hover > .dropSub {
  visibility: visible;
}
.nav .socialIcons {
  display: flex;
  justify-content: space-around;
  width: 7.5%;
  position: absolute;
  bottom: 35%;
  right: 5%;
}

.nav .socialIcons i {
  color: var(--secondaryColor);
  font-size: clamp(1.2em, 1.5vw, 10000px);
}

.nav i:hover {
  color: var(--thirdColor);
}

.navBackTop {
  width: 100%;
  height: 14%;
  background-color: var(--mainColor);
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

.title .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.title .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: var(--secondaryColor);
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {

  body{
    overflow: hidden;
  }

  #header .title h1 {
    margin-top: 2%;
  }

  #header .title .lang{
    width: 15%;
  }
  .nav{
    float: none;
    position: absolute;
    top: 65%;
    height: 100vh; 
  }

  .nav .menu{
    flex-direction: column;
    height: 70%;
    top: 0;
    align-items: center;
  }

  .menu a{
    font-size: clamp(0.7em, 4vw, 10000px);
  }

  .nav .menu i{
    font-size: clamp(1.2em, 7vw, 1000px);
  }

  .nav .socialIcons{
    position: absolute;
    width: 60%;
    bottom : 15%;
    right:  20%; 
  }

  .nav .socialIcons i{
    font-size: clamp(1.2em, 10vw, 10000px);
  }

  .title .icon-burger {
    display: block;
  }
  .title :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  .title :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  .title :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
