:root {
  --mainColor: #cc3860;
  --secondaryColor: #4faee1;
  --thirdColor: #efbc12;
}


#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
  height: auto;
}

#content .imgtype1 {
  width: 100%;
  height: auto;
  text-align: center;
  align-self: flex-start;
}

#content .mur {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#content #accueil {
  width: 80%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

#content #planning {
  width: 80%;
  height: auto;
}

#content .imgtype2 {
  width: 30%;
  height: auto;
  margin-top: 5%;
  text-align: center;
  padding: 0.25%;
  align-self: flex-start;
}

#content .texte-integration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#content .planning {
  width: 100%;
  height: auto;
  text-align: center;
}

#content .guidequestionnaire {
  width: 100%;
  height: auto;
  text-align: center;
}

#content h1 {
  margin-bottom: 5%;
  color: var(--secondaryColor);
  font-weight: bold;
  font-size: clamp(2em, 3vw, 1000em);
}

#content p {
  color: white;
  font-size: clamp(1em, 1.2vw, 1000em);
  width: 80%;
  margin-left: 10%;

}

#content B {
  color: white;
  font-size: clamp(1em, 1.2vw, 1000em);
  font-weight: 600%;
}

#content h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  color: var(--thirdColor);
  font-size: clamp(2em, 2vw, 1000em);
  font-weight: bold;
}

#content .redButton{
  margin-top: 2%;
  background-color: var(--mainColor);
  border: 0;
  padding: 0.8%;
  border-radius: 10px;
  color: wheat;
  cursor: pointer;
}

#content .redButton-disabled{
  margin-top: 2%;
  background-color: var(--mainColor);
  border: 0;
  padding: 0.8%;
  border-radius: 10px;
  color: wheat;
  cursor: pointer;
}
#content .redButton:hover{
  transform: translateY(-5px);
}

#content a:hover .button {
  color: pink;
}

#content ul {
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
}

#content li {
  color: white;
  margin: 1%;
  font-size: clamp(1em, 1.2vw, 1000em);
}

#content a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

#content .lien_pied_page:link {
  color: var(--mainColor);
}

#content .lien_pied_page:visited {
  color: var(--thirdColor);
}

#content a:focus {
  background: var(--thirdColor);
}

@media screen and (max-width: 800px) {

  #content .mur{
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  #content .imgtype2{
    justify-self: flex-start;
    width: 80%;
    margin-left: 10%;
  }
  
}
