
.titre_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titre{
  margin:5%;
}

h1{
  color: #3480eb;
  font-size: 200%;

}

h3{
  color:white;
  text-decoration: underline;
  margin:1%;
  text-align: center;
}

.bloc_video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.video{
  text-align: center;
  width: auto;
  height: 600px;
  margin-bottom: -15%;
}

iframe{
  text-align:center;
}
