#content .titre_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#content {
  background-image: linear-gradient(var(--mainColor), var(--secondaryColor));
  width: 100%;
  height: auto;
}

#content .titre {
  margin: 5%;
}

#content h1 {
  color: #3480eb;
  font-size: 200%;
}

#content h3 {
  color: white;
  text-decoration: underline;
  margin: 1%;
  text-align: center;
}

#content .bloc_video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#content .video {
  text-align: center;
  width: auto;
  height: 600px;
  margin-bottom: -15%;
}

#content iframe {
  text-align: center;
}
